version: '3.1'

services:
  db:
    image: mysql
    restart: "no"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - mysql_network
    ports:
      - 33306:3306
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer
    restart: "no"
    networks:
      - mysql_network
    ports:
      - 8181:8080

networks:
  mysql_network:

volumes:
  mysql_data:
